
.button{
    border-style: none;
    font-weight: bold;
    text-decoration: underline;
    background-color:transparent;
  }

.table {
    background: #b6e6ee;
    animation: fadebackground 6s;
  }
  @keyframes fadebackground {
    from {background-color: #ffffff;}
    to {background-color: #c9eff6;}
  }