
.button{
    color:#ffffff;
    border-style: none;
    font-weight: bold;
    text-decoration: underline;
    background-color:transparent;
  }
td,th, a{
  color:#ffffff;

}
.table {
    background: #090c2e;
    animation: fadebackground 4s;
  }
  @keyframes fadebackground {
    from {background-color: #274677;}
    to {background-color: #090c2e;}
  }

  @media (max-width: 600px) {

  
   th, .button{
      font-size:small;
    }
  }  