
.button{
    border-style: none;
    font-weight: bold;
    text-decoration: underline;
    background-color:transparent;
  }

.table {
    background: #dff7fb;
    animation: fadebackground 6s;
  }
  @keyframes fadebackground {
    from {background-color: #ffffff;}
    to {background-color: #e6f8fb;}
  }